@page
@model Presentacion.Pages.CrudCliente.DeleteModel

@{
    <br/>
    ViewData["Title"] = "Eliminar Cliente";
}

<div class="text-center">
<h1>Eliminar Cliente</h1>

<h3>Usted desea eliminar este Cliente?</h3>
</div>

    <div class="contenedor post">
    <hr />
    <dl class="row1">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Nombres)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Nombres)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Apellidos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Apellidos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.TipoDocumento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.TipoDocumento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.NumeroDocumento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.NumeroDocumento)
        </dd>
    </dl>
    </div>
    <div class="text-center">
    <form method="post">
        <input type="hidden" asp-for="Cliente.ClienteId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index"><b>Regresar a la lista</b></a>
    </form>
    </div>
</div>
