@page
@model Presentacion.Pages.CrudCliente.DetailsModel

@{
    <br/>
    ViewData["Title"] = "Detalles Cliente";
}
<div class="text-center">
<h1>Detalles del cliente</h1>
</div>
<div class="text-center" >
    <h4>En esta sección podras ver los detalles del Cliente seleccionado</h4> 
</div>

<div class="contenedor post">
    <hr />

    <dl class="row1 ">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Nombres)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Nombres)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.Apellidos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.Apellidos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.TipoDocumento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.TipoDocumento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente.NumeroDocumento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cliente.NumeroDocumento)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Cliente.ClienteId"><b>Editar</b></a> |
    <a asp-page="Index"><b>Regresar a la lista</b></a>
</div>
