@page
@model Presentacion.Pages.CrudCliente.IndexModel

@{
    <br/>
    ViewData["Title"] = "Cliente";
}
<dev class="text-center">
<h1><img src="~/img/venta.png" width="50" height="50">Cliente<img src="~/img/venta.png" width="50" height="50"></h1>
</dev>
<p>
    <a asp-page="Create"><input type="submit" value="Añadir un nuevo cliente" class="btn btn-primary"></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cliente[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente[0].Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente[0].Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente[0].TipoDocumento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente[0].NumeroDocumento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cliente) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoDocumento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroDocumento)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ClienteId"><b>Editar</b></a> |
                <a asp-page="./Details" asp-route-id="@item.ClienteId"><b>Detalles</b></a> |
                <a asp-page="./Delete" asp-route-id="@item.ClienteId"><b>Eliminar</b></a>
            </td>
        </tr>
}
    </tbody>
</table>
