@page
@model Presentacion.Pages.CrudEmpleado.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Empleado</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empleado.CodigoEmpleado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empleado.CodigoEmpleado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empleado.Sucursal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empleado.Sucursal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empleado.Usuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empleado.Usuario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empleado.Contraseña)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empleado.Contraseña)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empleado.NombreRol)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empleado.NombreRol)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empleado.Nombres)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empleado.Nombres)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empleado.Apellidos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empleado.Apellidos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empleado.TipoDocumento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empleado.TipoDocumento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empleado.NumeroDocumento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empleado.NumeroDocumento)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Empleado.EmpleadoId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
