@page
@model Presentacion.Pages.CrudEmpleado.IndexModel

@{
    <br/>
    ViewData["Title"] = "Empleado";
}

<dev class="text-center">
<h1><img src="~/img/Empleado.png" width="50" height="50">Empleado<img src="~/img/Empleado.png" width="50" height="50"></h1>
</dev>

<p>
    <a asp-page="Create"><input type="submit" value="A単adir un nuevo empleado" class="btn btn-primary"></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Empleado[0].CodigoEmpleado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleado[0].Sucursal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleado[0].Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleado[0].Contrase単a)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleado[0].Contrase単a)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleado[0].Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleado[0].Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleado[0].TipoDocumento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleado[0].NumeroDocumento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model.Empleado) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoEmpleado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sucursal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contrase単a)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreRol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoDocumento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroDocumento)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.EmpleadoId"><b>Editar</b></a> |
                <a asp-page="./Details" asp-route-id="@item.EmpleadoId"><b>Detalles</b></a> |
                <a asp-page="./Delete" asp-route-id="@item.EmpleadoId"><b>Eliminar</b></a>
            </td>
        </tr>
}
    </tbody>
</table>
