@page
@model Presentacion.Pages.CrudControl.IndexModel

@{
    ViewData["Title"] = "Control";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Añadir control</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Control[0].TipoControl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Control[0].NumeroControl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Control[0].PrecioCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Control[0].PrecioVenta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Control) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoControl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroControl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioVenta)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ControlId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ControlId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ControlId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
