@page
@model Presentacion.Pages.CrudVendedor.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vendedor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vendedor.CodigoEmpleado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vendedor.CodigoEmpleado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vendedor.Sucursal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vendedor.Sucursal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vendedor.Usuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vendedor.Usuario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vendedor.Contraseña)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vendedor.Contraseña)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vendedor.Nombres)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vendedor.Nombres)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vendedor.Apellidos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vendedor.Apellidos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vendedor.TipoDocumento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vendedor.TipoDocumento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vendedor.NumeroDocumento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vendedor.NumeroDocumento)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Vendedor.VendedorId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
