@page
@model Presentacion.Pages.CrudProducto.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Producto[0].CantConsola)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto[0].CantControl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto[0].CantVideojuego)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto[0].FechaCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Producto[0].FechaVenta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Producto) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CantConsola)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantControl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantVideojuego)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaVenta)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ProductoId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ProductoId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ProductoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
